---
layout: default
title: Tech Blog
permalink: /
---

<div class="landing-main">
	<div class="landing-wrap">
		<div class="landing-title">Tech Blog_</div>
		<div class="l1anding-desc">...</div>
	</div>
	<div class="content-wrap">
		{% for post in site.posts limit: 10 %}
		<div class="menu-wrap" onclick="location.href='{{ post.url }}'" c>	
			<div class="menu-content-item-wrap">
				<h3><a>{{post.title}}</a></h3>
				<div>{{post.description | strip_html | truncatewords: 32, '...' }}</div>
				<p>
					{% assign post_date = post.date | date: "%Y-%m-%d" %} {% assign today = "now" | date: "%Y-%m-%d" %} {% if post_date == today
					%} {{ "now" | date: "%H" | minus: post.date | date: "%H" }}시간 전 {% else %} {{ post.date | date: "%Y-%m-%d" }} {% endif %}
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
